/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(234, 234, 234, 1);
}

/* Estilos para o layout responsivo */
.login-usuario {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 170px;
    height: 170px;
    margin: 10px 0;
}

.area_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.usuario-input,
.senha-input,
.tipo-usuario-dropdown {
    background: #d0d0d0;
    border-radius: 5px;
    width: 90%;
    max-width: 300px;
    height: 36px;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;

}

.tipo-usuario-dropdown {
    appearance: none;
}

.entrar-button {
    background: #95d2a6;
    width: 120px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    text-align: center; /* Centralizar texto horizontalmente */
    line-height: center; /* Centralizar texto verticalmente */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.selecione {
    color: #000000;
    text-align: left;
    font-size: 12px;
    margin-top: 10px;
}

/* Estilos para dispositivos menores */
@media (max-width: 768px) {
    .usuario-input,
    .senha-input,
    .tipo-usuario-dropdown {
        width: 80%;
        max-width: 250px;
        font-size: 14px;
    }

    .entrar-button {
        width: 70%;
        max-width: 180px;
        font-size: 16px;
        line-height: 30px;
    }
}
