    /* Estilos gerais */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100vh; /* Altura da janela de visualização */
    }

    .tela-usuario {
        background: #ffffff;
        width: 100%;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
    }

    .menu-superior {
        background-color: #95d2a6;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        position: relative;
    }

    /* Adicione estilos para a imagem do usuário e Nome e Sobrenome */
    .menu-superior .user-info {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px; /* Ajuste a margem direita conforme necessário */
        height: 70px; /* Ajuste a altura conforme necessário */
    }

    .menu-superior .user-info .user-image {
        width: 60px; /* Defina a largura da imagem do usuário */
        height: 60px; /* Defina a altura da imagem do usuário */
        margin-right: 10px; /* Adicione margem à direita, se necessário */
    }


    .faixa {
        background-color: rgba(101, 185, 124, 1);
        height: 35px;
    }

    .menu-lateral-container {
        background-color: rgba(242, 242, 242, 1);
        position: fixed;
        width: 205px;
        height: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Distribui os itens verticalmente */
    }

    .logo {
        width: 180px; /* Defina a largura da imagem do logotipo */
        height: 180px; /* Defina a altura da imagem do logotipo */
        margin-top: 10px;
        margin-left: 13px;
    }

    .menu-lateral {
        list-style: none;
        padding-left: 20px;
        text-align: left;
        margin-top: 20px; /* A altura da faixa */
    }

    .menu-lateral li {
        display: block;
        margin: 15px 0;
    }

    .menu-lateral li a {
        text-decoration: none;
        color: #000;
        padding: 10px 20px;
        border-radius: 5px;
        display: block;
        transition: background-color 0.3s, color 0.3s;
        width: 120px; /* Largura do botão */
        height: 20px; /* Altura do botão */
        text-align: center; /* Centralizar texto horizontalmente */
        line-height: 30px; /* Centralizar texto verticalmente */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border: none;
        background-color: rgba(230, 230, 230, 1);
    }

    .menu-lateral li a:hover {
        background-color: #95d2a6;
    }

    /* Estilos para o botão "Sair" */
    .menu-lateral li:last-child {
        margin-top: 140px; /* Coloca o botão "Sair" no final */
    }

    /* Estilos responsivos */
    @media screen and (max-width: 768px) {
        .menu-lateral {
            text-align: center;
        }

        .menu-lateral li {
            display: block;
            margin: 10px 0;
        }
    }