/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Altura da janela de visualização */
}

/*Container menu superior*/
.tela-usuario {
    background: #ffffff;
    width: 100%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.menu-superior {
    background-color: #95d2a6;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

/* estilo para a imagem do usuário e Nome e Sobrenome */
.menu-superior .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px; /* margem direita */
    height: 70px; /* altura */
}

.menu-superior .user-info .user-image {
    width: 60px; /* imagem do usuário */
    height: 60px; /* altura da imagem do usuário */
    margin-right: 10px; /* margem à direita, se necessário */
}

/*container menu lateral*/

.menu-lateral-container {
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    width: 205px;
    height: 100%;
    top: 125px;
    flex-direction: column; /*mantém os botões dentro*/
    justify-content: space-between; /* Distribui os itens verticalmente */
}

.logo {
    width: 170px; /* largura da imagem do logotipo */
    height: 170px; /* altura da imagem do logotipo */
    margin-top: 10px;
    margin-left: 13px;
}

.menu-lateral {
    list-style: none;
    padding-left: 20px;
    text-align: left;
    margin-top: 20px; /* A altura da faixa */
}

.menu-lateral li {
    display: block;
    margin: 15px 0;
}

.menu-lateral li a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    width: 120px; /* Largura do botão */
    height: 20px; /* Altura do botão */
    text-align: center; /* Centralizar texto horizontalmente */
    line-height: center; /* Centralizar texto verticalmente */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: rgba(230, 230, 230, 1);
}

.menu-lateral li a:hover {
    background-color: #95d2a6;
}

/*container menu central*/
.faixa {
    background-color: rgba(101, 185, 124, 1);
    height: 35px;
}

.pesquisa {
    position: absolute;
    top: 168px; /* altura */
    left: 240px; /* posição  */
    font-size: 18px; /* tamanho da fonte */
}


/* estilo para a linha tracejada */
.dashed-line {
    border-bottom: 2px dashed rgba(101, 185, 124, 1); /* Linha tracejada horizontal */
    position: absolute;
    top: 190px; /* altura da linha */
    left: 240px; /* posição da linha */
    right: 40px; /* margem direita para afastar do menu lateral */
}

/* Campo de busca por livros */

/* Estilo para o campo de busca avançada (em coluna) */
.busca {
    display: flex;
    flex-direction: column; /* Coloca os elementos em uma coluna */
    align-items: flex-start; /* Alinha os elementos à esquerda da coluna */
    margin-top: 100px; /* Espaço superior entre a pesquisa e os outros elementos */
    margin-left: 240px;
}

.busca input,
.busca button {
    margin-bottom: 10px; /* Espaço entre os elementos da coluna */
}

.busca button {
    width: 120px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    text-align: center; /* Centralizar texto horizontalmente */
    line-height: center; /* Centralizar texto verticalmente */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: rgba(230, 230, 230, 1);
    cursor: pointer;
}

.busca button:hover {
    background-color: #95d2a6;
}


/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .menu-lateral {
        text-align: center;
    }

    .menu-lateral li {
        display: block;
        margin: 10px 0;
    }
}